In [3]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
Base.classes.keys()

['measurement', 'station']

In [60]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [61]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [62]:
column_names = inspector.get_columns('measurement')
for column_name in column_names:
    print(column_name["name"])

id
station
date
prcp
tobs

In [63]:
session.query(Measurement.date).order_by(Measurement.date).first()

('2010-01-01',)

In [64]:
column_names = inspector.get_columns('station')
for column_name in column_names:
    print(column_name["name"])

id
station
name
latitude
longitude
elevation

## D1: Determine the Summary Statistics for June

In [65]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
month_str = '05'
results_temperatures = session.query(Measurement.tobs).filter(func.strftime('%m', Measurement.date) == month_str).all()

In [66]:
#  3. Convert the June temperatures to a list.
temperatures = list(np.ravel(results_temperatures))
for i in range(0,5):
    print(temperatures[i])

77.0
73.0
74.0
76.0
76.0

In [68]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temperature_df = pd.DataFrame(temperatures, columns = ["June Temp"])
temperature_df.head()

   June Temp
0       77.0
1       73.0
2       74.0
3       76.0
4       76.0

In [69]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temperature_df.describe()

         June Temp
count  1733.000000
mean     73.680900
std       3.355783
min      63.000000
25%      71.000000
50%      74.000000
75%      76.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [70]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
month_str = '12'
results_temperatures = session.query(Measurement.tobs).filter(func.strftime('%m', Measurement.date) == month_str).all()

In [71]:
# 7. Convert the December temperatures to a list.
temperatures = list(np.ravel(results_temperatures))

In [72]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temperature_df = pd.DataFrame(temperatures, columns = ["Dec Temp"])
temperature_df.head()

   Dec Temp
0      76.0
1      74.0
2      74.0
3      64.0
4      64.0

In [73]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temperature_df.describe()

          Dec Temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000